<div id='taglist'>
<h1>Tags</h1>

    <div style="padding-top: 20px;">
    {% assign tags_list = site.tags %}

        {% if tags_list.first[0] == null %}
            {% for tag in tags_list %}
                <a href="/tags#{{ tag }}-ref" class="tag-cell">
                    {{ tag }} ({{ site.tags[tag].size }})
                </a>

        {% endfor %}
    {% else %}
        {% for tag in tags_list %}

                <a href="/tags#{{ tag[0] }}-ref" class="tag-cell">
                    {{ tag[0] }} ({{ tag[1].size }})
                </a>

        {% endfor %}
    {% endif %}
    {% assign tags_list = nil %}
    </div>
</div>
<div id="linebreak"></div>
<div id="tagindex">
{% for tag in site.tags %}
    <h1  id="{{ tag[0] }}-ref" class="active">{{ tag[0] }}</h1>
    <ul>
        {% assign pages_list = tag[1] %}
        {% for node in pages_list %}
            {% if node.title != null %}
                {% if group == null or group == node.group %}
                    {% if page.url == node.url %}
                        <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
                    {% else %}
                        <li><a href="{{node.url}}">{{node.title}}</a></li>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
    </ul>
{% endfor %}
</div>